/** footer **/
.footer
    padding-top: 50px
    background: $color-dark url(../image/footer-line.jpg) top center repeat-x

    &.-container
        padding-left: 15px
        padding-right: 15px

.footer-row
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    max-width: 1500px
    .fa
        margin-right: 10px

.footer-nav__items
    margin: 0 auto
    padding: 0
    list-style: none
    text-align: center

.footer-nav__item
    //
.footer-nav__item-link
    font-size: 28px
    line-height: 1.4
    font-weight: 600
    color: $color-light-500

    &:hover,
    &:focus
        text-decoration: none
        color: $color-light-100

.footer__column
    display: flex
    flex-direction: column
    width: 100%
    &.-open-hours
        margin: 35px auto 0
        width: 100%

        @media screen and (min-width: 1050px)
            order: 2
            width: auto
            justify-content: center

    &.-open-hours .footer__info-content
        font-size: 18px
    &.-contacts-1
        margin: 35px 0 0
        padding: 15px 0
        border-top: 1px solid $color-light-500

        @media screen and (min-width: 680px)
            margin: 35px auto 0
            width: 320px
            border-bottom: 1px solid $color-light-500

        @media screen and (min-width: 1050px)
            order: 1

    &.-contacts-2
        padding: 15px 0
        border-top: 1px solid $color-light-500
        border-bottom: 1px solid $color-light-500

        @media screen and (min-width: 680px)
            margin: 35px auto 0
            width: 320px

        @media screen and (min-width: 1050px)
            order: 3

    &.-contacts-3
        margin: 30px auto 0
        text-align: center

.footer__info-content
    margin: 0
    padding: 0 10px 0 0
    color: $color-light-500
.footer__info-link
    font-size: 18px
    color: $color-light-500

    &:hover,
    &:focus
        text-decoration: none
        color: $color-light-500