.header
    @media screen and (max-width: 767px)
        position: fixed
        top: 0
        left: 0
        width: 100%
        z-index: 10

.header__row
    display: flex

    &.-container
        margin-left: auto
        margin-right: auto
        padding-left: 12px

        @media screen and (min-width: 768px)
            padding-left: 15px
            padding-right: 15px
            align-items: center

.header__logo
    flex: none
    width: 88px

    @media screen and (max-width: 767px)
        position: relative
        height: 40px
        overflow: hidden
        z-index: 10

        .menu-toggle__input:checked ~ .header &
            overflow: visible

    @media screen and (min-width: 768px)
        margin-top: 5px
        margin-bottom: 5px
        align-self: center

    @media screen and (min-width: 1200px)
        margin-left: auto
