@import "../vars"
@import "../media"

.piroga-modal
    position: fixed
    top: 0
    left: 0
    display: flex
    width: 100%
    height: 100vh
    pointer-events: none
    opacity: 0
    transition: opacity .2s ease-in

    &.is-active
        opacity: 1
        pointer-events: all

.piroga-modal__backdrop
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: $color-dark

.piroga-modal__content
    position: relative
    margin-top: 50px
    padding: 15px
    background: $default-color-light
    overflow: auto

    +desktop
        margin: auto
        max-width: 440px
        border-radius: 2px

    .-success-content
        display: flex
        flex-direction: column
    .-error-content
        display: none

    .piroga-modal.is-error &
        .-success-content
            display: none
        .-error-content
            display: block

.piroga-modal__title
    margin: 0 0 15px
    font-size: 26px

.piroga-modal__subtitle
    margin: 0 0 15px
    font-size: 18px

.piroga-modal__loader
    margin: 15px auto auto

.piroga-modal__close-text
    padding: 6px 16px
    font-size: 18px

    border: 1px solid $default-color-dark
    border-radius: 2px
    background: $default-color-dark
    color: $default-color-light
    outline: none
    cursor: pointer

    &:hover,
    &:focus
        background: $color-dark