<div class="nav-ingridients__row">
  <div class="container">
    <div class="nav-ingridients">
      {% for category in categories %}
        {% if category.category_id == category_id %} 
        <a href="{{ category.href }}" class="nav-ingridient__link active"><img src="{{ category.thumb }}" alt="icon">{{ category.name }}</a> 
        
        {% else %}<a href="{{ category.href }}" class="nav-ingridient__link"><img src="{{ category.thumb }}" alt="icon">{{ category.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
