<h2 class="category__title">{{ heading_title }}</h2>
<div class="row">{% for product in products %}
    <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="product-thumb card u-featured-card">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"></a></div>
      <div>
        <div class="caption">
          <h4 class="card__title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
          <div class="card__separator-stars"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
          <p class="card__description">{{ product.description }}</p>

            {% if product.price %}
              <div class="card__price">
                <i class="fa fa-rub" aria-hidden="true"></i>{% if not product.special %}
                <span class="card__price-usual">{{ product.price }}</span>
              {% else %}<span class="card__price-new">{{ product.special }}</span> <del class="card__price-old">({{ product.price }})</del>{% endif %}
              </div>
            {% endif %}
        </div>

        <div class="card__other-info">
          {% if product.weight %}
          <p><i class="fa fa-info" aria-hidden="true"></i> {{ product.weight }}</p>
          <p>{{ product.weight_class }}</p>
          {% endif %}
          {% if product.tags %}
            <p><i class="fa fa-tags" aria-hidden="true"></i> {{ text_tags }}
                {% for i in 0..product.tags|length %}
                    {% if i < (product.tags|length - 1) %} <a href="{{ product.tags[i].href }}">{{ product.tags[i].tag }}</a>,
                    {% else %} <a href="{{ product.tags[i].href }}">{{ product.tags[i].tag }}</a> {% endif %}
                {% endfor %} </p>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
