<div class="main-bg">
  <div class="container">
    <div class="swiper-viewport u-swiper-viewport">
      <div id="slideshow{{ module }}" class="swiper-container">
        <div class="swiper-wrapper"> {% for banner in banners %}
          <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
          {% endfor %} </div>
      </div>
      <div class="swiper-pagination slideshow{{ module }}"></div>
      <div class="swiper-pager">
        <div class="swiper-button-next u-swiper-button-next"></div>
        <div class="swiper-button-prev u-swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
document.addEventListener('load', function() {
  $('#slideshow{{ module }}').swiper({
    mode: 'horizontal',
    slidesPerView: 1,
    nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 30,
    autoplay: 5500,
      autoplayDisableOnInteraction: true,
    loop: true
  });
});
--></script>