<div class="cart-info" id="js-top-basket">
  <a class="cart-info__link" href="{{ cart }}"><i class="fa fa-shopping-basket"></i><span class="cart-info__total" id="js-cart-info-total" data-total-quantity="{{ text_items }}">{{ text_items }}</span></a>
  <span class="cart-info__price" id="js-cart-info-price" data-price="{{ text_total_price }}">{{ text_total_price }} р</span>
</div>
