<footer class="footer -container">
  <div class="footer-row">

    <div class="footer__column">

      <!-- <div class="open-hours__title">{{ text_information }}:</div> -->
      
      <ul class="footer-nav__items">
          {% for information in informations %}
            <li class="footer-nav__item"><a class="footer-nav__item-link" href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        <li class="footer-nav__item"><a class="footer-nav__item-link" href="/отзывы/">Отзывы</a>
      </ul>

    </div>

    <div class="footer__column -open-hours">
      <p class="open-hours__title">Вкусная выпечка каждый день!</p>
      <div class="open-hours__time">
        <p class="footer__info-content">{{ open }}</p>
      </div>
    </div>

    <div class="footer__column -contacts-1">
        <div class="contacts__address">
          <i class="fa fa-home" aria-hidden="true"></i>
          <p class="footer__info-content">{{ address }}</p>
        </div>
        <div class="contacts__telephone"><i class="fa fa-phone" aria-hidden="true"></i>
          <p class="footer__info-content">{{ telephone }}</p>
        </div>
    </div>

    <div class="footer__column -contacts-2">
      <div class="contacts__address">
        <i class="fa fa-home" aria-hidden="true"></i>
        <p class="footer__info-content">{{ address2 }}</p>
      </div>
      <div class="contacts__telephone">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p class="footer__info-content">{{ telephone2 }}</p>
      </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer__column -contacts-3">
      <div class="contacts__title">ПЕКАРНЯ ПИРОГА</div>
      <div class="contacts__email">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a class="footer__info-link" href="mailto:{{ email }}">{{ email }}</a>
      </div>
      <div class="contacts__email">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a class="footer__info-link send-message-link" href="#popup-send-message">Обратная связь</a>
      </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer__column">
      <div class="social-buttons">
          <a class="fa-stack fa-md" href="https://vk.com/piroga_tomsk">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
          </a>
          <a class="fa-stack fa-md" href="http://instagram.com/pirogatomsk">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </a>
        </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="copyright">
      <p class="copyright__text">{{ powered }}</p>
    </div>
    <!-- <div class="developer">
      <span class="developer__text">Сделано в <a class="developer__link" href="http://tefit.ru">ТЕФИТ</a></span>
    </div> -->
  </div>
</footer>

<!-- form itself -->
<form id="popup-send-message" class="popup-send-message mfp-hide">
  <h3 class="popup-send-message__title">Обратная связь</h3>

    <input type="hidden" name="project_name" value="сайт ПИРОГА">
    <input type="hidden" name="admin_email" value="mail@pirogatomsk.ru">
    <input type="hidden" name="form_subject" value="Сообщение с сайта pirogatomsk.ru">

    <div class="popup-row">
      <label for="email">Email</label>
      <input class="popup__email-field" id="email" name="email" type="email" placeholder="пример: my@mail.ru" required>
    </div>

    <div class="popup-row">
      <label for="message">Сообщение</label><br>
      <textarea class="popup__message-field" id="message" name="Сообщение" rows="5" required></textarea>
    </div>

    <button class="popup__btn">Отправить</button>

</form>

<link href="catalog/view/theme/piroga/stylesheet/magnific-popup/magnific-popup.css" rel="stylesheet">
<!-- <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> -->
<script src="catalog/view/theme/piroga/stylesheet/magnific-popup/magnific-popup.min.js" type="text/javascript"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

</body></html>