﻿<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta name="theme-color" content="#540203">
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/piroga/stylesheet/stylesheet.css?ver=11052019" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
{% if has_ingridients %}
<input class="vh filter-toggle__input" id="filter-toggle" type="checkbox">
{% endif %}
<input class="vh menu-toggle__input" id="menu-toggle" type="checkbox">
<header class="header">
  <div class="top-line first-line header__row -container"><!-- #js-top-line -->

    <div class="header__logo" id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% endif %}</div>

    <!-- <button class="top-line__button js-back-link"><i class="fa fa-long-arrow-left"></i><span>назад</span></button> -->
    <!-- <button class="top-line__button"><i class="fa fa-long-arrow-up"></i><span>вверх</span></button> -->
    <label for="menu-toggle" class="menu-toggle__backdrop"></label>
    {% if has_ingridients %}
    <label for="filter-toggle" class="filter-toggle"><i class="fa fa-filter"></i><span>Ингридиенты</span></label>
    {% endif %}

    <div class="site-menu">
      {{ menu }}
      <div class="site-menu__footer">
        <span class="site-menu__tel-title">телефон:</span>
        <span class="site-menu__tel-number">{{ telephone }}</span>
      </div>
    </div>

    <div class="top-line__right">
      <div class="top-line__telephone">
        <div class="top-line__telephone-number">{{ telephone }}</div>
      </div>
      <div class="top-line__cart-wrapper">{{ cart }}</div>
    </div>

    <label for="menu-toggle" class="menu-burger"><span class="menu-burger__line"></span><span class="menu-burger__line"></span><span class="menu-burger__line"></span></label>

  </div>
</header>