<nav class="c-menu">
  <a class="c-menu__item" href="о-нас/">О нас</a>
    {% if categories %}

      {% for category in categories %}
        <a class="c-menu__item" href="{{ category.href }}">{{ category.name }}</a>
      {% endfor %}
    
    {% endif %} 
  <a class="c-menu__item" href="доставка/">Доставка</a>
</nav>