{{ header }}
<main class="main">
  <div class="container">
    <div class="row">{{ column_left }}

      <div id="content" class="col-xs-12 {{ class }}">{{ content_top }}
        <h1 class="title is-2">Ваш заказ принят!</h1>
        <div class="custom-text">
          Наш оператор доставки свяжется с Вами для подтверждения заказа. Если вам не перезвонили в течение 30 минут, пожалуйста, свяжитесь с оператором доставки, возможно произошел сбой. Приятного аппетита!
        </div>
        <a href="{{ continue }}" class="button u-success-page">Вернуться на главную страницу</a>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
    </div>
</main>
{{ footer }}