{{ header }}
<main class="main">
  <div id="information-information" class="container">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h2 class="category__title">{{ heading_title }}</h2>
        {{ description }}{{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</main>
{{ footer }}