{{ header }}{{ content_top }}
<main class="main" id="js-add-cart-field">
	<div id="product-category" class="container">
		<div class="row">
			<div id="content" class="col-sm-12">
				<h2 class="category__title">{{ heading_title }}</h2>
				{% if thumb or description %}
					<div class="row">
						{% if description %}
						<div class="col-sm-10">{{ description }}</div>
						{% endif %}</div>
				{% endif %}
				{% if categories %}
					<h3>{{ text_refine }}</h3>
					{% if categories|length <= 5 %}
						<div class="row">
							<div class="col-sm-3">
								<ul>
									{% for category in categories %}
									<li><a href="{{ category.href }}">{{ category.name }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% else %}
						<div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
							<div class="col-sm-3">
								<ul>
									{% for child in category %}
									<li><a href="{{ child.href }}">{{ child.name }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endfor %}</div>
						<br />
					{% endif %}
				{% endif %}

				{% if products %}
					{% set productRow = 1 %}
					<div class="row">
						{% for product in products %}

							{% if productRow == 4 %}
								{% set productRow = 1 %}

					</div>
					<div class="row">

							{% endif %}

			{% set productRow = productRow + 1 %}

				<div class="product-layout product-grid col-lg-4 col-md-4 col-xs-12">
					<div class="product-thumb card">
						<div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"></a></div>
						<div class="card__body">

							<div class="caption">

									<h4 class="card__title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
									<p class="card__description">{{ product.description }}</p>

							</div>

						</div>

						<div class="card__footer">

							{% if product.options %}

								{% for option in product.options %}
									{% if option.type == 'radio' %}

										<div class="option__items" id="js-option-id-{{ option.product_option_id }}">

											{% set firstOption = true %}

											{% for option_value in option.product_option_value %}

												<input class="option__item-checker visuallyhidden js-option-checker"
														id="option-{{ option.product_option_id }}-{{ option_value.product_option_value_id }}"
														type="radio"
														name="option[{{ option.product_option_id }}]"
														value="{{ option_value.product_option_value_id }}"

														{% if firstOption %} checked {% endif %}/> {# end input #}

												{% set firstOption = false %}

											{% endfor %}

											<div class="product__option-content">

									{% for option_value in option.product_option_value %}

									<label class="option__item" for="option-{{ option.product_option_id }}-{{ option_value.product_option_value_id }}">

										<div class="option__image-wrapper">{% if option_value.image %}
											<img class="option__image img-thumbnail"
													src="{{ option_value.image }}"
													alt="Изображение опции" /> {% endif %}
										</div>

										<div class="option__content">

											<div class="option__title">{{ option_value.name }}</div>

											<div class="option__price">
												<i class="fa fa-rub" aria-hidden="true"></i>
												<span class="option__price">&nbsp;{{ option_value.price + product.price }} руб.</span>
											</div>

										</div>

									</label>

									{% endfor %}

								</div>

								<div class="option__footer">
									{% for option_value in option.product_option_value %}

									<div class="option__footer-item">

										{% if product.price %}

											<div class="product__price">
												<i class="fa fa-rub" aria-hidden="true"></i>
												<span class="product__price-usual js-price-usual">
													{{ option_value.price + product.price }} руб.
												</span>
											</div>

										{% endif %}

										{# Кнопки добавить или удалить из корзины #}
										<div class="card__cart-buttons js-cart-buttons">

											<div class="cart-buttons__quantity-wrapper">

												<div class="cart-buttons__quantity-button -decrement js-decrement">
												<i class="fa fa-minus" aria-hidden="true"></i>
												</div>

												<input class="cart-buttons__quantity-input js-cart-input"
													type="text" maxlength="2"

													data-product-id      = "{{ product.product_id }}"

													data-option-id       = "{{ option.product_option_id }}"
													data-option-value-id = "{{ option_value.product_option_value_id }}"
													data-price           = "{{ option_value.price + product.price }}"

													{% set quantityValue = 0 %}

													{% for option_in_cart in options_in_cart %}
														{% if option_in_cart['product_id'] == product.product_id %}

															{% set isOptionFinded = false %}

															{% for cart_option in option_in_cart['options'] %}
																{% if isOptionFinded == false and cart_option['product_option_value_id'] == option_value.product_option_value_id %}

																	{% set isOptionFinded = true %}
																	{% set quantityValue = option_in_cart['quantity'] %}

																	data-cart-id = "{{ option_in_cart['cart_id']  }}"

																{% endif %}
															{% endfor %}
														{% endif %}
													{% endfor %}

													value = "{{ quantityValue }}"

													disabled />

												<div class="cart-buttons__quantity-button js-increment">
													<i class="fa fa-plus" aria-hidden="true"></i>
												</div>

											</div>

										</div>

									</div>

									{% endfor %}
								</div>
							</div>

						{% endif %}
					{% endfor %}

				{% else %} {# end options #}
						
					{% if product.price %}

						<div class="product__price">
							<i class="fa fa-rub" aria-hidden="true"></i>
							<span class="product__price-usual">{{ product.price }}</span>
						</div>

					{% endif %}

					<div class="card__other-info">
						{% if product.weight %}
						<p><i class="fa fa-info" aria-hidden="true"></i> {{ product.weight }}</p>
						<p>{{ product.weight_class }}</p>
						{% endif %}
						{% if product.tags %}
							<p><i class="fa fa-tags" aria-hidden="true"></i> {{ text_tags }}
							{% for i in 0..product.tags|length %}
							{% if i < (product.tags|length - 1) %} <a href="{{ product.tags[i].href }}">{{ product.tags[i].tag }}</a>,
							{% else %} <a href="{{ product.tags[i].href }}">{{ product.tags[i].tag }}</a> {% endif %}
							{% endfor %} </p>
						{% endif %}
		
					</div>

					{# Кнопки добавить или удалить из корзины #}
					<div class="card__cart-buttons u-card" id="js-cart-buttons">

						<div class="cart-buttons__quantity-wrapper">

							<div class="cart-buttons__quantity-button -decrement js-decrement">
							<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<input class="cart-buttons__quantity-input js-cart-input" id="js-quantity{{ product.product_id }}" type="text" maxlength="2"

								data-product-id = "{{ product.product_id }}"
								data-price = "{{ product.price + 0 }}"

								{% set quantityValue = 0 %}

								{% for option_in_cart in options_in_cart %}

									{% if option_in_cart['product_id'] == product.product_id %}

										{% set quantityValue = option_in_cart['quantity'] %}
										data-cart-id = "{{ option_in_cart['cart_id']  }}"

									{% endif %}

								{% endfor %}

								value = "{{ quantityValue }}"

								disabled />

							<div class="cart-buttons__quantity-button js-increment">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</div>

						</div>

					</div>

				{% endif %}
				
              </div>
            </div>
          </div>
          {% endfor %} </div>
        {% endif %}
        {% if not categories and not products %}
        <p>{{ text_empty }}</p>
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
        {% endif %}
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</main>

<script>
	var elementAddCartField = document.getElementById('js-add-cart-field');

	if (elementAddCartField !== null) {
		elementAddCartField.addEventListener('click', handleClickAddCartField)
	}

	function handleClickAddCartField(event) {
		var target = event.target;

		while (target.id !== elementAddCartField.id) {

			if (target.classList.contains('js-increment')) {
				var elementData = target.parentNode.querySelector('.js-cart-input');
				var elementValue = Number(elementData.value);

				if (elementValue < 99) {

					var productId = elementData.getAttribute('data-product-id');

					if (elementData.hasAttribute('data-option-id')) {

						var optionId = elementData.getAttribute('data-option-id');
						var optionValueId = elementData.getAttribute('data-option-value-id');

						cart.add(productId, optionId, optionValueId);

					} else {

						cart.add(productId);

					}

					elementData.value++;

					topBasket.add(Number(elementData.getAttribute('data-price')));

				}

				break;

			} else if (target.classList.contains('js-decrement')) {

				var elementData = target.parentNode.querySelector('.js-cart-input');
				var elementValue = Number(elementData.value);

				if (elementValue > 0) {
					
					var cartId = elementData.getAttribute('data-cart-id');

					elementData.value--;
					decrement(cartId, elementData.value);

					topBasket.remove(Number(elementData.getAttribute('data-price')));
				}

				break;
			}

			target = target.parentNode;
		}
	}
</script>

{{ footer }} 
