{{ header }}{{ content_top }}
<main class="main">

    {% if product_id != 1147 %}{# 1147 - страница отзывов #}

        <div id="product-product" class="container product-page">

            <button class="product-page__button-back js-back-link">← назад</button>

            <div class="row">

                <div id="content" class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8">
                            {% if thumb or images %}
                                <div class="thumbnails">
                                    {% if thumb %}
                                        <div class="product__thumb owl-carousel owl-theme">
                                            <a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>

                                            {% if images %}
                                                {% for image in images %}
                                            <a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"><img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="nothumbnails">
                                    <div class="product__thumb"><img src="../image/placeholder.png"></div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-sm-4">

                            <h4 class="product__title">{{ heading_title }}</h4>
                            <div class="product__category-name">Категория: {{ model }}</div>

                            {% if tags %}
                                <p class="product__tags">{{ text_tags }}
                                    {% for i in 0..tags|length %}
                                        {% if i < (tags|length - 1) %}
                                            <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
                                        {% else %}
                                            <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}

                        <div class="product__description">{{ description }}</div>


						{% if options %}

							<div class="add-cart" id="js-add-cart-field">

								<h3 class="add-cart__title">{{ text_option }}</h3>

								{% for option in options %}
									{% if option.type == 'radio' %}

										<div class="option__items" id="js-option-id-{{ option.product_option_id }}">

											{% set firstOption = true %}

											{% for option_value in option.product_option_value %}

												<input class="option__item-checker visuallyhidden js-option-checker"
														id="option-{{ option.product_option_id }}-{{ option_value.product_option_value_id }}"
														type="radio"
														name="option[{{ option.product_option_id }}]"
														value="{{ option_value.product_option_value_id }}"

														{% if firstOption %} checked {% endif %}

                                                /> {# end input #}

                                                {% set firstOption = false %}

                                            {% endfor %}

                                            <div class="product__option-content">

                                                {% for option_value in option.product_option_value %}

                                                <label class="option__item" for="option-{{ option.product_option_id }}-{{ option_value.product_option_value_id }}">

                                                    <div class="option__image-wrapper">{% if option_value.image %}
                                                        <img class="option__image img-thumbnail"
                                                                src="{{ option_value.image }}"
                                                                alt="Изображение опции" /> {% endif %}
                                                    </div>

                                                    <div class="option__content">

                                                        <div class="option__title">{{ option_value.name }}</div>

                                                        <div class="option__price">
                                                            <i class="fa fa-rub" aria-hidden="true"></i>
                                                            <span class="option__price">&nbsp;{{ option_value.price + price }} руб.</span>
                                                        </div>

                                                    </div>

                                                </label>

                                                {% endfor %}

                                            </div>

                                            <div class="option__footer">
                                                {% for option_value in option.product_option_value %}

                                                <div class="option__footer-item">

                                                    {% if price %}

                                                        <div class="product__price">
                                                            <i class="fa fa-rub" aria-hidden="true"></i>
                                                            <span class="product__price-usual js-price-usual">
                                                                {{ option_value.price + price }} руб.
                                                            </span>
                                                        </div>

                                                    {% endif %}

                                                    {# Кнопки добавить или удалить из корзины #}
                                                    <div class="card__cart-buttons js-cart-buttons">

                                                        <div class="cart-buttons__quantity-wrapper">

                                                            <div class="cart-buttons__quantity-button -decrement js-decrement">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </div>

                                                            <input class="cart-buttons__quantity-input js-cart-input"
                                                                type="text" maxlength="2"

                                                                data-product-id      = "{{ product_id }}"

                                                                data-option-id       = "{{ option.product_option_id }}"
                                                                data-option-value-id = "{{ option_value.product_option_value_id }}"
                                                                data-price           = "{{ option_value.price + price }}"

                                                                {% set quantityValue = 0 %}

                                                                {% for option_in_cart in options_in_cart %}
                                                                    {% if option_in_cart['product_id'] == product_id %}

                                                                        {% set isOptionFinded = false %}

                                                                        {% for cart_option in option_in_cart['options'] %}
                                                                            {% if isOptionFinded == false and cart_option['product_option_value_id'] == option_value.product_option_value_id %}

                                                                                {% set isOptionFinded = true %}
                                                                                {% set quantityValue = option_in_cart['quantity'] %}

                                                                                data-cart-id = "{{ option_in_cart['cart_id']  }}"

                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}

                                                                value = "{{ quantityValue }}"

                                                                disabled />

                                                            <div class="cart-buttons__quantity-button js-increment">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                {% endfor %}
                                            </div>
										</div>

									{% endif %}
								{% endfor %}

                            </div>

                        {% else %} {# end options #}

                            <div class="add-cart -bottom-fixed" id="js-add-cart-field">
                                
                                {% if price %}

                                    <div class="product__price">
                                        <i class="fa fa-rub" aria-hidden="true"></i>
                                        <span class="product__price-usual">{{ price }}</span>
                                    </div>

                                {% endif %}

                                {# Кнопки добавить или удалить из корзины #}
                                <div class="card__cart-buttons" id="js-cart-buttons">

                                    <div class="cart-buttons__quantity-wrapper">

                                        <div class="cart-buttons__quantity-button -decrement js-decrement">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                        </div>

                                        <input class="cart-buttons__quantity-input js-cart-input" id="js-quantity{{ product_id }}" type="text" maxlength="2"

                                            data-product-id = "{{ product_id }}"
                                            data-price = "{{ price + 0 }}"

                                            {% set quantityValue = 0 %}

                                            {% for option_in_cart in options_in_cart %}
                                                {% if option_in_cart['product_id'] == product_id %}

                                                    {% set isOptionFinded = false %}

                                                    {% for cart_option in option_in_cart['options'] %}
                                                        {% if isOptionFinded == false and cart_option['product_option_value_id'] == option_value.product_option_value_id %}

                                                            {% set isOptionFinded = true %}
                                                            {% set quantityValue = option_in_cart['quantity'] %}

                                                            data-cart-id = "{{ option_in_cart['cart_id']  }}"

                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}

                                            value = "{{ quantityValue }}"

                                            disabled />

                                        <div class="cart-buttons__quantity-button js-increment">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        {% endif %}
                        
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {% if thumb or images %}
            <link rel="stylesheet" href="catalog/view/theme/piroga/stylesheet/owl.carousel/owl.carousel.min.css">
            <link rel="stylesheet" href="catalog/view/theme/piroga/stylesheet/owl.carousel/owl.theme.default.min.css">
            <style>
                .owl-stage-outer {
                    border-radius: 4px;
                }
                .owl-theme .owl-nav {
                    margin: 0;
                    position: absolute;
                    top: calc(50% - 30px);
                    width: calc(100% - 8px);
                    height: 0;
                }
                .owl-theme .owl-nav [class*=owl-],
                .owl-theme .owl-nav [class*=owl-]:hover,
                .owl-theme .owl-nav [class*=owl-]:focus {
                    font-size: 46px;
                    line-height: 1;
                    background: none;
                }
                .owl-prev,
                .owl-next {
                    opacity: .6;
                    transition: opacity .2s ease-out;
                }
                .owl-prev:hover,
                .owl-prev:active,
                .owl-next:hover,
                .owl-next:active {
                    opacity: 1;
                }
                .owl-prev {
                    float: left;
                }
                .owl-next {
                    float: right;
                }

                @media screen and (min-width: 768px) {
                    .owl-stage-outer {
                        border-radius: 30px;
                    }

                    .owl-theme .owl-nav {
                        width: calc(100% - 52px);
                    }
                }
            </style>
            <script src="catalog/view/javascript/owl.carousel.min.js"></script>
            <script type="text/javascript">

            $(document).ready(function() {

                $('.owl-carousel').owlCarousel({
                    loop:true,
                    nav:true,
                    dots: false,
                    navText:['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                    items:1
                });

                $('.thumbnails').magnificPopup({
                    type:'image',
                    delegate: '.owl-item:not(.cloned) a',
                    navigateByImgClick: true,
                    gallery: {
                        enabled: true
                    }
                });

            });
            
            </script>

        {% else %}
            <style>
                .link-to-main-page {
                    margin-bottom: 5px;
                    display: block;
                    font-size: 16px;
                    color: #333;
                }
                .link-to-main-page:hover {
                    text-decoration: none;
                    color: #666;
                }
            </style>
        {% endif %}

        <script>
            var elementAddCartField = document.getElementById('js-add-cart-field');

            if (elementAddCartField !== null) {
                elementAddCartField.addEventListener('click', handleClickAddCartField)
            }

            function handleClickAddCartField(event) {
                var target = event.target;

                while (target.id !== elementAddCartField.id) {

                    if (target.classList.contains('js-increment')) {
                        var elementData = target.parentNode.querySelector('.js-cart-input');
                        var elementValue = Number(elementData.value);

                        if (elementValue < 99) {

                            var productId = elementData.getAttribute('data-product-id');

                            var optionId = elementData.getAttribute('data-option-id');
                            var optionValueId = elementData.getAttribute('data-option-value-id');

                            cart.add(productId, optionId, optionValueId);

                            elementData.value++;

                            topBasket.add(Number(elementData.getAttribute('data-price')));

                        }

                        break;

                    } else if (target.classList.contains('js-decrement')) {

                        var elementData = target.parentNode.querySelector('.js-cart-input');
                        var elementValue = Number(elementData.value);

                        if (elementValue > 0) {
                            
                            var cartId = elementData.getAttribute('data-cart-id');

                            elementData.value--;
                            decrement(cartId, elementData.value);

                            topBasket.remove(Number(elementData.getAttribute('data-price')));
                        }

                        break;
                    }

                    target = target.parentNode;
                }
            }
        </script>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="category__title">{{ heading_title }}</h2>
                </div>
            </div>
        </div>

        <div class="container review-page">
            <div class="row">
                <div class="col-sm-12">

                    {% if review_status %}
                        <div class="tab-pane" id="tab-review">
                          <form class="form-horizontal" id="form-review">
                            <div id="review"></div>
                            <h2>{{ text_write }}</h2>
                            {% if review_guest %}
                            <div class="form-group required">
                              <div class="col-sm-12">

                                <div class="input-field bg-white">
                                    <label>
                                        <div class="label-text">{{ entry_name }}</div>
                                        <input type="text" name="name" id="input-name" maxlength="30">
                                    </label>
                                </div>

                                <div class="input-field" style="display:none">
                                    <label>
                                        <input type="text" name="answer" id="input-answer" maxlength="30">
                                    </label>
                                </div>

                                {# <label class="control-label" for="input-name">{{ entry_name }}</label>
                                <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" /> #}
                              </div>
                            </div>
                            <div class="form-group required">
                              <div class="col-sm-12">

                                <div class="input-field bg-white">
                                    <label>
                                        <div class="label-text">{{ entry_review }}</div>
                                        <textarea type="text" name="text" id="input-review" rows="5"></textarea>
                                    </label>
                                </div>

                                {# <label class="control-label" for="input-review">{{ entry_review }}</label>
                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea> #}
                              </div>
                            </div>
                            <div class="form-group required u-hidden">
                                <div class="col-sm-12">
                                    <label class="control-label">{{ entry_rating }}</label>{{ entry_bad }}
                                    <input type="radio" name="rating" value="1">
                                    <input type="radio" name="rating" value="2">
                                    <input type="radio" name="rating" value="3">
                                    <input type="radio" name="rating" value="4">
                                    <input type="radio" name="rating" value="5" checked id="checked-radio">{{ entry_good }}
                                </div>
                            </div>
                            {{ captcha }}
                            <div class="buttons clearfix">
                                <div class="input-field">
                                    <input
                                        class="checkout__button"
                                        type="button"
                                        value="Отправить отзыв"
                                        id="button-review"
                                        data-loading-text="{{ text_loading }}">
                                </div>
                            </div>
                            {% else %}
                            {{ text_login }}
                            {% endif %}
                          </form>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <script type="text/javascript">

            $('#review').delegate('.pagination a', 'click', function(e) {
                e.preventDefault();

                $('#review').fadeOut('slow');

                $('#review').load(this.href);

                $('#review').fadeIn('slow');
            });

            $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

            $('#button-review').on('click', function() {
                $('#checked-radio').prop('checked', true);
                $.ajax({
                    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
                    type: 'post',
                    dataType: 'json',
                    data: $("#form-review").serialize(),
                    beforeSend: function() {
                        $('#button-review').attr('disabled', true);
                    },
                    complete: function() {
                        $('#button-review').removeAttr('disabled');
                    },
                    success: function(json) {
                        $('.alert-dismissible').remove();
                        
                        console.log(json)
                        
                        if (json['error']) {
                            $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                        }
                        
                        if (json['success']) {
                            $('#form-review').trigger('reset');
                            $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
                        }
                    }
                });
            });
        </script>

    {% endif %}

</main>
{{ footer }}
