{% if reviews %}
{% for review in reviews %}
  <div class="review">
    <div class="review__name">{{ review.author }}</div>
    <div class="review__date">{{ review.date_added }}</div>
    <div class="review__text">{{ review.text }}</div>
    {% if review['answer'] %}
      <div class="review-answer">
        <div class="review__name">{{ entry_answer }}</div>
        <div class="review__text">{{ review.answer }}</div>
      </div>
    {% endif %}
  </div>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>Отзывов пока нет. Напиши отзыв первым!</p>
{% endif %}