<fieldset>
  <legend>{{ text_captcha }}</legend>
  <div class="form-group required">
    <div class="col-sm-12">
    {% if route|slice(0, 9) == 'checkout/' %}
    <label class="control-label" for="input-payment-captcha">{{ entry_captcha }}</label>
    <input type="text" name="captcha" id="input-payment-captcha" class="form-control" autocomplete="off" />
    <img src="index.php?route=extension/captcha/basic/captcha" alt="" />
    {% else %}
      <img src="index.php?route=extension/captcha/basic/captcha" alt="" />
      <br />
      <br />
      <div class="input-field bg-white">
          <label for="input-captcha">
              <div class="label-text">{{ entry_captcha }}</div>
              <input type="text" name="captcha" id="input-captcha" maxlength="10">
          </label>


          {% if error_captcha %}
          {% endif %}
      </div>
      <div class="text-danger">{{ error_captcha }}</div>
    {% endif %}
    </div>
  </div>
</fieldset>
