$color-dark: $default-color-dark
$color-light: $default-color-light
$color-creme: #fefbea

.title
    &.u-cart-container
        margin-top: 0
        margin-bottom: 10px
        text-align: center

.subtitle
    &.is-hidden
        display: none;


.cart-page__content
    margin-top: 70px
    display: flex

.cart-page__bill-container
    margin-left: auto
    width: 300px
    flex: none
    display: inline-block;
    width: 300px;
    margin-left: 40px;
    font-size: 12px;
    vertical-align: top;
    background-image: url(/image/bill-top.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 300px;
    padding-top: 30px;

.cart-page__bill-content
    margin-bottom: 50px
    padding: 20px
    background: $color-creme

.cart-page__bill
    margin-bottom: 10px
    border-bottom: 2px dashed $color-dark

.cart-page__bill-row
    margin-bottom: 10px
    display: flex
    width: 100%
    font-size: 14px

.cart-page__bill-title
    padding-right: 5px
    flex: 1 1 auto

.cart-page__bill-quantity
    padding: 0 5px
    flex: none

.cart-page__bill-price
    width: 60px
    flex: none
    text-align: right

.cart-page__bill-total-price
    text-align: right
    font-size: 18px

.cart-page__cart-container
    width: 100%

.cart-page__cart-image
    margin: 0px auto 30px
    width: 110px

    @media screen and (max-width: 767px)
        display: none

    img
        width: 100%
        height: auto

.checkout
    display: flex
    align-items: flex-start
    justify-content: space-around

    &__button
        background: transparent
        transition: background .2s ease-out, color .2s ease-out

        &:hover,
        &:focus
            background: $color-dark
            color: $color-creme

    &__column
        padding: 20px 40px

        &.u-inputs-field

            &:first-child
                padding-right: 10px

            &:last-child
                padding-left: 10px

        &.u-bill
            padding: 0

    &__container
        margin-bottom: 50px
        display: flex
        flex: none
        background: $color-creme


.checkout-order__header
    margin-bottom: 20px

.checkout-order__items
    margin-bottom: 10px

    form &
        margin-top: 30px

.checkout-order__item
    margin-bottom: 20px
    padding-bottom: 20px
    display: flex
    align-items: flex-start
    width: 100%
    font-size: 18px
    border-bottom: 2px dashed $color-dark

    @media screen and (max-width: 767px)
        flex-wrap: wrap

.checkout-order__item-info
    flex: 1 1 auto

.checkout-order__item-thumb
    margin-right: 20px
    width: 47px
    height: 47px

    @media screen and (max-width: 767px)
        display: none

.checkout-order__item-name
    padding-right: 20px
    flex: 1 1 auto
    font-size: 18px
    font-weight: bold
    color: $color-dark

    &:hover
        color: $color-dark

.checkout-order__item-quantity
    margin-right: 20px
    flex: none
    width: 60px
    text-align: right

    @media screen and (max-width: 767px)
        margin-left: auto

    input
        background: none

    form &
        display: flex
        width: auto

.checkout-order__item-price
    margin-right: 20px
    flex: none
    min-width: 64px

.checkout-order__item-sum
    flex: none
    min-width: 64px

.checkout-order__footer
    margin-bottom: 40px
    display: flex
    font-size: 18px
    flex-wrap: wrap

    div:first-child
        margin-left: auto
        margin-right: 20px

.checkout-order__buttons
    padding-top: 30px
    display: flex
    width: 100%

.checkout-order__button
    padding: 8px 16px
    display: block
    margin-left: auto
    width: 100%
    font-size: 16px
    text-align: center
    text-transform: uppercase
    color: $color-dark
    border: 1px solid $color-dark

    &:hover
        color: $color-light
        background: $color-dark
        text-decoration: none

    &[disabled]
        text-transform: none
        cursor: not-allowed

        &:hover
            color: $color-dark
            background: none

.checkout-labels

    label
        font-size: 16px
        font-weight: normal
        cursor: pointer

        &:before
            margin-right: 8px
            display: inline-block
            content: ""
            width: 11px
            height: 11px
            border: 1px solid #000

.pay-m
    position: absolute
    visibility: hidden

.pay-m:nth-child(1):checked ~ .checkout-labels > .checkout-label:nth-child(1),
.pay-m:nth-child(2):checked ~ .checkout-labels > .checkout-label:nth-child(2),
.pay-m:nth-child(1):focus ~ .checkout-labels > .checkout-label:nth-child(1),
.pay-m:nth-child(2):focus ~ .checkout-labels > .checkout-label:nth-child(2)
    label:before
        background: $color-dark

.label-text
    margin: 2px 0 0 14px
    font-weight: normal
    font-size: 14px

.input-field
    margin-bottom: 20px
    border: 1px solid $color-dark

    label
        display: block

    &.bg-white
        background: #fff

    &.u-nonbd
        border: none

    &__row
        display: flex
        max-width: 260px

        .input-field
            &:not(:last-child)
                margin-right: 10px

    input:not(.pay-m),
    textarea
        padding: 5px 14px
        width: 100%
        font-size: 18px
        border: none

    input[type="text"]
        padding: 0 14px
        height: auto
        background: none

    textarea
        height: 92px
        resize: none
        background: none

    .title ~ &
        &:nth-child(2)
            margin-top: 29px

@media screen and (max-width: 991px)
    .cart-page
        &__content
            flex-direction: column
            align-items: center

        &__bill-container
            margin-left: auto
            margin-right: auto

    .checkout
        flex-direction: column-reverse
        align-items: center

@media screen and (max-width: 678px)
    .checkout
        &__container
            &.u-left
                flex-direction: column

        &__column
            &.u-inputs-field

                &:first-child
                    padding-right: 40px

                &:last-child
                    padding-left: 40px

    .mobile-hide
        display: none

    .title ~ .input-field:nth-child(2)
        margin-top: 0

    .checkout__column.u-inputs-field:last-child
        padding-top: 0