.card
  margin: 0 0 60px
  padding: 12px
  display: flex
  flex-wrap: wrap
  background: #fefbea // кремовый #fefbea
  border-radius: 4px
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.5)


  @media screen and (min-width: 768px)
    margin: auto 20px 60px
    padding: 20px
    flex-direction: column
    border-radius: 20px
    box-shadow: inset 0px 0px 0px 7px #fefbea, inset 0px 0px 0px 10px #666, -2px 6px 16px 0 rgba(0,0,0,.5)
    transition: box-shadow .2s ease-out

    &:hover
      box-shadow: inset 0px 0px 0px 7px #fefbea, inset 0px 0px 0px 10px #666, -4px 12px 20px 0 rgba(0, 0, 0, .5)

  .image
    margin: 0 10px 10px 0
    flex: none
    width: 100%
    border-radius: 4px
    overflow: hidden

    @media screen and (min-width: 430px)
      width: 150px

    @media screen and (min-width: 520px)
      width: 209px

    @media screen and (min-width: 768px)
      margin: 12px auto
      width: 209px
      border-radius: 20px

    img
      width: 100%

.card__body
  display: flex
  flex-direction: column
  height: 100%

  @media screen and (min-width: 430px)
    width: calc(100% - 160px)

  @media screen and (min-width: 520px)
    width: calc(100% - 219px)

  @media screen and (max-width: 767px)
    flex: auto

  @media screen and (min-width: 768px)
    width: 100%

.card__footer
  width: 100%
  flex: none


  @media screen and (max-width: 767px)
    display: flex
    align-items: center
  @media screen and (max-width: 499px)
    flex-wrap: wrap

.card__title
  font-size: 20px
  font-weight: 700

  @media screen and (max-width: 767px)
    margin: 0
    padding-bottom: 10px

  a
    color: $default-color-dark

    &:hover
      text-decoration: none

.card__separator-stars
  margin-bottom: 12px
  text-align: center

.card__description
  margin-bottom: 16px
  font-size: 16px

.card__price
  margin-bottom: 12px
  font-size: 20px

.card__price-usual
  padding-left: 10px
  font-size: 24px
  font-weight: 700

.card__price-new
  padding-left: 10px
  font-size: 26px
  text-decoration: underline
  font-weight: 700

.card__price-old
  font-size: 18px

.card__other-info
  margin-bottom: 10px

  .fa
    width: 14px
    text-align: center
  p
    margin: 0

.card.u-featured-card
  height: 435px

.card__cart-buttons
  display: flex
  align-items: center

  &.u-card
    margin-right: 10px
    margin-bottom: 10px

  @media screen and (max-width: 767px)
    flex: auto

  .product-page &
    margin-bottom: 20px

.cart-buttons

  &__quantity-wrapper
    display: inline-block
    display: flex
    margin-left: auto
    border: 1px solid $default-color-dark
    color: $default-color-dark
    box-sizing: content-box
    overflow: hidden
    input
      width: 40px
      text-align: center
      font-size: 20px
      border: none
      background: #fefbea
      border-left: 1px solid transparent
      border-right: 1px solid transparent
      transition: border .15s ease-out
      &:active,
      &:focus
        outline: none
        border-left: 1px solid $default-color-dark
        border-right: 1px solid $default-color-dark

      .product-page &
        background: none

  &__quantity-button
    display: inline-block
    display: flex
    flex: none
    vertical-align: top
    height: inherit
    width: 32px
    color: $default-color-light
    background: $default-color-dark
    cursor: pointer
    .fa
      display: block
      margin: auto
      text-align: center

    

.cart-add
  &__wrapper
    display: inline-block
    width: 50px
    height: 50px
    border-radius: 50%
    margin-left: 30px
  &__button
    margin: auto
    width: 100%
    height: 100%
    background: $default-color-dark
    border: none
    border-radius: 50%
    font-size: 24px
    line-height: 1
    color: $default-color-light
    transition: background .25s ease-out, color .25s ease-out
    &:focus,
    &:active,
    &:hover
      outline: none
      line-height: 1
      background: #fefbea
      color: $default-color-dark
      font-size: 28px

.card
  .product__price
    white-space: nowrap
  @media screen and (max-width: 767px)
    .product__price,
    .card__other-info
      margin-right: 20px
    .option__items
      display: flex
      flex-direction: row
      width: 100%

      z-index: 1

    .option__item
      border: none
      margin-bottom: 0
      cursor: default
      opacity: 1
      &:not(:last-child)
        margin-bottom: 3px

    .option__item-checker:nth-child(1) ~ .option__footer .option__footer-item:nth-child(1), .option__item-checker:nth-child(2) ~ .option__footer .option__footer-item:nth-child(2)
      display: block
    .option__item-checker:nth-child(1):checked ~ .product__option-content .option__item:nth-child(1), .option__item-checker:nth-child(2):checked ~ .product__option-content .option__item:nth-child(2)
      border: none
    .product__option-content
      flex: none

    .option__footer .product__price,
    .cart-buttons__quantity-button.-decrement,
    .cart-buttons__quantity-button .fa,
    .cart-buttons__quantity-input
      display: none

    .cart-buttons__quantity-button
      min-width: 90px;
      width: 100%
      align-items: center
      justify-content: center
      font-size: 3.5vw
      line-height: 1
      color: $default-color-dark
      text-align: center;
      border: none
      background: none

    .cart-buttons__quantity-input:not([data-cart-id]) + .cart-buttons__quantity-button::before
      content: "Добавить в корзину"
      display: block

    .cart-buttons__quantity-input[data-cart-id] + .cart-buttons__quantity-button
      cursor: default
      opacity: .6
      pointer-events: none

    .cart-buttons__quantity-input[data-cart-id] + .cart-buttons__quantity-button::before
      content: "В корзине"
      display: block

    .cart-buttons__quantity-wrapper
      margin: 0
      width: 100%

    .option__footer
      flex: auto
    .option__footer-item
      padding: 5px
      height: 60px
      &:not(:last-child)
        margin-bottom: 3px

    .card__cart-buttons
      margin: 0
      height: 50px
      align-items: stretch
      border: 2px solid $default-color-dark

  @media screen and (max-width: 480px)
      .option__image-wrapper
        display: none
      .cart-buttons__quantity-button
        text-align: center
        font-size: 5vw