@import "bourbon"
@import "vars"

=desktop
	@media screen and (min-width: 768px)
		@content

=until-desktop
	@media screen and (max-width: 767px)
		@content

@media only screen and (max-width : 560px)
	.title.is-2
		font-size: 38px

	.category__title
		font-size: 34px

.card__title
	+desktop
		margin: 16px auto
		text-align: center