.popup-send-message
	margin: auto
	position: relative
	padding: 20px
	width: 280px
	background: #fefbea // кремовый #fefbea
	border-radius: 20px
	box-shadow: inset 0 0 0 7px #fefbea, inset 0 0 0 10px #666, -2px 6px 16px 0 rgba(0,0,0,.5)
	transition: box-shadow .2s ease-out

.popup-send-message__title
	margin-bottom: 20px
	text-align: center
	font-size: 26px

.send-message__link-wrapper
	width: 100%
	text-align: right

.popup
	&__email-field
		margin-bottom: 20px
		padding: 5px
		width: 100%
		border-color: $default-color-dark
		border-radius: 4px
		outline: none

	&__message-field
		margin-bottom: 20px
		padding: 5px
		width: 100%
		resize: none
		border-width: 2px
		border-color: $default-color-dark
		border-radius: 4px
		outline: none

	&__btn
		padding: 8px
		text-transform: uppercase
		font-size: 16px
		width: 100%
		background: none
		border-color: $default-color-dark
		border-radius: 4px
		outline: none
		transition: background .25s ease-out, color .25s ease-out

		&:hover, &:focus
			background: $default-color-dark
			color: $default-color-light