@import "bourbon"
@import "vars"
@import "media"

.product-page
  margin-top: 15px
  padding-bottom: 20px

  +desktop
    margin-top: 60px
    padding-bottom: 80px

.product-page__button-back
  margin-bottom: 12px
  background: none
  border: none
  outline: none

  color: $color-dark
  font-size: 20px

  &:hover,
  &:focus
    color: $default-color-dark

.thumbnail
  margin-bottom: 0
  padding-top: 0
  padding-bottom: 0
  border: none
  background: none

  @media screen and (max-width: 767px)
    margin: 0
    padding: 0
  &:hover, &:active, &:focus
    border: none
    outline: none

.product__thumb,
.product__images
  margin-bottom: 30px
  padding: 4px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  background: #fefbea
  border-radius: 4px

  @media screen and (min-width: 768px)
    padding: 26px
    border-radius: 26px
    box-shadow: inset 0px 0px 0px 7px #fefbea, inset 0px 0px 0px 10px #666, -2px 6px 16px 0 rgba(0,0,0,.5)
    transition: box-shadow .2s ease-out
    &:hover, &:active, &:focus
      box-shadow: inset 0px 0px 0px 7px #fefbea, inset 0px 0px 0px 10px #666, -4px 12px 20px 0 rgba(0, 0, 0, .5)
  img
    border-radius: 4px

    @media screen and (min-width: 768px)
      border-radius: 26px
.product__title
  font-size: 24px
  font-weight: bold

  @media screen and (min-width: 768px)
    font-size: 36px
.product__category-name
  font-size: 18px
.product__tags
  margin-bottom: 10px
.product__description
  margin-bottom: 22px
  font-size: 20px
  line-height: 1.2

  @media screen and (min-width: 768px)
    font-size: 24px

.product__price
  margin-bottom: 12px
  font-size: 24px

.product__price-usual
  padding-left: 10px
  font-size: 28px
  font-weight: 700

.product__price-new
  padding-left: 10px
  font-size: 30px
  text-decoration: underline
  font-weight: 700

.product__price-old
  font-size: 22px

.review-page
  margin-bottom: 50px
  padding: 50px
  background: #fefbea // кремовый #fefbea
  border-radius: 20px
  box-shadow: inset 0px 0px 0px 7px #fefbea, inset 0px 0px 0px 10px #666, -2px 6px 16px 0 rgba(0,0,0,.5)
  transition: box-shadow .2s ease-out

.review
  margin-bottom: 20px
  padding: 20px
  line-height: 1
  border-bottom: 1px solid $default-color-dark

  &__name
    font-size: 22px

  &__date
    margin-bottom: 20px
    font-size: 14px

  &__text
    font-size: 18px

.review-answer
  margin-top: 30px
  padding-left: 20px
  border-left: 6px solid $default-color-dark

  .review__name
    margin-bottom: 10px

.pagination > .active
  & > a,
  & > a:focus,
  & > a:hover,
  & > span,
  & > span:focus,
  & > span:hover
    color: $default-color-light
    background-color: $default-color-dark
    border-color: $default-color-dark

.pagination > li > a,
.pagination > li > span
  color: $default-color-dark
  background-color: $default-color-light
  border: 1px solid $default-color-dark

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
  color: $default-color-light
  background-color: $default-color-dark

.add-cart__title
  display: none
  @media screen and (min-width: 768px)
    display: inline-block

.product-page
  @media screen and (max-width: 767px)
    .add-cart > .product__price
      margin: 0 2px 0 5px
      display: block
      color: $default-color-light

    .option__items,
    .add-cart.-bottom-fixed
      position: fixed
      right: 0
      bottom: 0
      left: 0

      display: flex

      flex-direction: row

      border-top: 3px solid $default-color-dark
      background-color: $default-color-dark

      z-index: 1

    .add-cart.-bottom-fixed
      display: flex
      align-items: center
      border-bottom: 3px solid $default-color-dark
      .card__cart-buttons
        flex: auto
        margin-right: 5px
        margin-left: 5px

    .option__item
      border: none
      margin-bottom: 0
      cursor: default
      opacity: 1
      &:not(:last-child)
        margin-bottom: 3px

    .option__item-checker:nth-child(1) ~ .option__footer .option__footer-item:nth-child(1), .option__item-checker:nth-child(2) ~ .option__footer .option__footer-item:nth-child(2)
      display: block
    .option__item-checker:nth-child(1):checked ~ .product__option-content .option__item:nth-child(1), .option__item-checker:nth-child(2):checked ~ .product__option-content .option__item:nth-child(2)
      border: none
    .product__option-content
      flex: none

    .product__price,
    .cart-buttons__quantity-button.-decrement,
    .cart-buttons__quantity-button .fa,
    .cart-buttons__quantity-input
      display: none

    .cart-buttons__quantity-button
      width: 100%
      align-items: center
      justify-content: center
      font-size: 3.5vw

    .cart-buttons__quantity-input:not([data-cart-id]) + .cart-buttons__quantity-button::before
      content: "Добавить в корзину"
      display: block

    .cart-buttons__quantity-input[data-cart-id] + .cart-buttons__quantity-button::before
      content: "В корзине"
      display: block

    .cart-buttons__quantity-wrapper
      margin: 0
      width: 100%

    .option__footer
      flex: auto
    .option__footer-item
      padding: 5px
      height: 60px
      &:not(:last-child)
        margin-bottom: 3px

    .card__cart-buttons
      margin: 0
      height: 50px
      align-items: stretch
      border: 2px solid $default-color-light

  @media screen and (max-width: 480px)
      .option__image-wrapper
        display: none
      .cart-buttons__quantity-button
        text-align: center
        font-size: 5vw