.nav-ingridients
  display: flex
  justify-content: space-around
  @media screen and (max-width: 767px)
    justify-content: flex-start
    flex-wrap: wrap
    overflow: auto

.nav-ingridients__row
    background: $default-color-light

    @media screen and (max-width: 767px)
      display: none
      position: fixed
      top: 50px
      left: 0
      width: 100%
      z-index: 5

.filter-toggle__input:checked
  ~ .header .filter-toggle
    color: $default-color-dark
    background: $default-color-light
  ~ .nav-ingridients__row
    display: block

.nav-ingridient__link
  padding: 4px 8px 0 2px
  text-transform: uppercase
  text-align: center
  font-size: 14px
  color: $default-color-dark
  border: none
  border-bottom: 2px solid transparent
  transition: border .13s ease

  @media screen and (max-width: 767px)
    display: inline-block
    width: 100px
    flex: none
    padding-top: 8px
    padding-bottom: 8px
    text-align: left

  &:hover, &:focus, &.active
    text-decoration: none
    border-bottom: 2px solid $default-color-dark
    color: $default-color-dark
    outline: none