.c-menu
    display: flex
    padding-top: 80px
    flex-direction: column

    @media screen and (min-width: 768px)
        display: inline-block
        padding: 0

    @media only screen and (min-width: 1200px)
        padding-right: 30px

.c-menu__item
    padding: 5px 10px
    display: inline-block
    vertical-align: middle
    text-transform: uppercase
    color: $default-color-light
    font-size: 5vw
    letter-spacing: .3px
    opacity: .8
    transition: opacity .25s ease

    @media screen and (max-width: 767px)
        padding-left: 16px
        &:first-child
            margin-top: 20px
            order: 1

        &:last-child
            order: 1

    @media screen and (min-width: 768px)
        font-size: 16px

    &:hover, &:focus, &.active
        color: $default-color-light
        opacity: 1
        outline: none
        text-decoration: none

.filter-toggle
    display: none;
    // margin: auto 10px auto 0
    // margin-right: 10px
    // margin-left: 10px

    // padding-right: 10px
    // padding-left: 10px

    // display: flex
    // height: 50px
    // align-items: center

    // color: $default-color-light
    // font-size: 35px
    // text-align: center

    // background-color: $default-color-dark
    // cursor: pointer

    // @media screen and (max-width: 410px)
    //     flex: auto

    // @media screen and (min-width: 768px)
    //     display: none

    // span
    //     flex: auto
    //     padding-left: 10px
    //     font-size: 16px
    //     line-height: 50px
    //     font-weight: 400
    //     text-overflow: ellipsis
    //     overflow: hidden

    //     @media screen and (max-width: 410px)
    //         width: 0

.menu-burger
    margin-bottom: 0
    padding: 12px

    width: 26px
    flex: none
    flex-direction: column

    color: $default-color-light
    background: $default-color-dark
    border: none
    outline: none

    box-sizing: content-box
    cursor: pointer

    @media screen and (min-width: 768px)
        display: none

    .menu-toggle__input:checked ~ .header &
        color: $default-color-light
        background: transparent
        box-shadow: none
        z-index: 20

.menu-burger__line
    display: block
    width: 100%
    height: 4px
    background-color: currentColor
    border-radius: 2px
    transition: transform .15s ease, opacity .15s ease

    &:not(:last-child)
        margin-bottom: 7px

    .menu-toggle__input:checked ~ .header &
        &:first-child
            transform: translateY(11px) rotate(45deg)
        &:nth-child(2)
            opacity: 0
        &:last-child
            transform: translateY(-11px) rotate(-45deg)

.menu-toggle__backdrop
    position: fixed
    top: 0
    left: 0

    width: 100%
    height: 100vh

    background: transparent

    cursor: pointer
    pointer-events: none
    transition: background .3s ease

    z-index: 5

    @media screen and (min-width: 768px)
        display: none

    .menu-toggle__input:checked ~ .header &
        background: rgba(0, 0, 0, .6)
        pointer-events: all

.site-menu
    @media screen and (max-width: 767px)
        position: fixed
        top: 0
        right: 25%
        left: 0

        min-height: 100vh
        flex-direction: column
        justify-content: space-between

        transform: translateX(-100%)
        transition: transform .3s cubic-bezier(.19, 1, .22, 1)
        background-color: $default-color-dark
        box-shadow: 0 0 4px transparent

        overflow: auto
        z-index: 5

        .menu-toggle__input:checked ~ .header &
            display: flex
            box-shadow: 0 0 4px rgba(0, 0, 0, .8)
            transform: translateX(0)

.site-menu__footer
    margin-bottom: 16px
    display: flex
    flex-direction: column

    @media screen and (min-width: 768px)
        display: none
.site-menu__tel-title
    display: block
    padding-left: 16px
    color: $default-color-light
    font-size: 16px
.site-menu__tel-number
    display: block
    padding-left: 16px
    color: $default-color-light
    font-size: 24px
.first-line
    background: $default-color-dark

    @media screen and (min-width: 768px)
        background: $color-brown url('../image/bg-image.jpg')

@media screen and (max-width: 767px)

    .swiper-viewport
        display: none