@import "vars"
@import "fonts"

@import "components/header"
@import "components/footer"
@import "components/modal"
@import "components/lds-ring"

body
	display: flex
	flex-direction: column
	min-width: 320px
	min-height: 100vh
	font-family: $default-font

.main
	flex: 1 1 auto
	background: $default-color-light url('../image/main3.jpg')

	@media screen and (max-width: 767px)
		margin-top: 50px

	@media screen and (min-width: 768px)
		box-shadow: inset 0 10px 10px -10px $default-color-dark

[hidden]
	display: none
.vh
	position: fixed !important
	margin-left: -1px !important
	padding: 0 !important
	height: 1px !important
	width: 1px !important
	clip: rect(1px, 1px, 1px, 1px)
	border: 0 !important
	overflow: hidden

.title
	margin: 0
	padding: 0

	&.is-2
		margin: 50px auto
		display: block
		font-weight: 700
		font-size: 48px
		text-align: center
		text-transform: uppercase

.custom-text
	margin-bottom: 30px
	font-size: 20px

.button
	&.u-success-page
		padding: 8px 16px
		font-size: 16px
		text-transform: uppercase
		color: $default-color-dark
		border: 1px solid $default-color-dark
		border-radius: 8px
		transition: background .15s ease-out, color .15s ease-out

		&:hover
			color: $default-color-light
			text-decoration: none
			background: $default-color-dark

.link-to-main-page
		margin-bottom: 5px
		display: block
		font-size: 16px
		color: #333
		cursor: pointer
		text-align: right

		@media screen and (max-width: 767px)
			display: none

		&:hover
			text-decoration: none
			color: #666

/**
 *  Header style
 */

.top-line
	font-family: $default-font

	@media screen and (max-width: 767px)
		display: flex
		align-items: center


	.cart-list
		&__product-name
			width: 160px

		&__buttons
			display: flex
			justify-content: space-around

		&__button
			&:hover,
			&:focus
				text-decoration: none

		&__remove-button
			color: #cc3300
			cursor: pointer

			&:hover,
			&:focus
				color: #cc0000

	.table
		&.u-border

			& > tbody > tr > td,
			& > tbody > tr > th,
			& > tfoot > tr > td,
			& > tfoot > tr > th,
			& > thead > tr > td,
			& > thead > tr > th
				border-top: 1px solid $default-color-light !important
				border-bottom: 1px solid $default-color-light !important

.top-line__telephone
	margin-right: 15px
	color: $color-light-100
	font-size: 20px
	word-spacing: nowrap
	white-space: nowrap

	@media only screen and (max-width: 767px)
		display: none

	.fa
		margin-right: 15px
		vertical-align: middle
		font-size: 25px

.top-line__delivery
	text-transform: uppercase
	font-size: 13px
	text-align: center

.top-line__right
	display: flex
	margin-left: auto
	align-items: center

	@media screen and (min-width: 1200px)
		margin-right: auto

.top-line__cart-wrapper
	font-size: 28px
	white-space: nowrap

.top-line__cart-button
	max-width: 200px
	color: $default-color-light
	background: none
	border: none
	border-bottom: 2px solid transparent
	border-radius: 0

	&.u-shadow-none
		box-shadow: none !important

	&:hover,
	&:focus
		color: $default-color-light
		border-bottom: 2px solid $default-color-light

.top-line__cart-list
	margin: 0
	top: calc(100% - 2px)
	width: 300px
	border: 2px solid $default-color-light
	border-radius: 0


.cart-info__link
	position: relative
	color: $default-color-light

	&:hover,
	&:focus
		color: $accent

.cart-info__total
	position: absolute
	display: block
	width: 15px
	height: 15px
	top: -4px
	right: -12px
	line-height: 15px
	font-size: 10px
	text-align: center
	color: $default-color-dark
	background: $default-color-light
	border-radius: 50%

.cart-info__price
	padding-left: 5px
	color: $default-color-light
	font-size: 13px

	@media screen and (max-width: 410px)
		.filter-toggle ~ .top-line__right &
			display: inline-block
			width: 10px
			pointer-events: none
			opacity: 0

.main-bg
	background: $color-brown url('../image/bg-image.jpg')

.u-hidden
	display: none !important

.u-swiper-viewport
	margin: 20px 0 !important
	box-shadow: none !important
	background: none !important
	border: none !important

.u-swiper-button-next,
.u-swiper-button-prev
	color: $default-color-dark !important
	text-shadow: none !important

@import "ingridients"
@import "card"
@import "cart"
@import "product"
@import "popup"
@import "menu"

.category
	&__title
		margin: 50px auto
		display: block
		max-width: 320px
		font-weight: 700
		font-size: 48px
		text-align: center
		text-transform: uppercase

.open-hours__title
	margin: 0 auto 8px 
	display: block
	color: #d0c3ae
	font-size: 16px
	font-weight: 600
	text-transform: uppercase

.contacts__address,
.contacts__telephone,
.contacts__email
	display: flex
	margin: auto
	width: 220px
	align-items: baseline
	color: $color-light-500
	font-size: 20px
	.fa
		color: #d0c3ae
.contacts__email
	width: 180px

.contacts__title
	margin-bottom: 18px
	font-size: 22px
	color: #d0c3ae

.contacts__columns
	display: flex

.contacts__column:not(:last-child)
	padding-right: 20px

.open-hours__time
	margin: auto
	padding: 0 10px
	max-width: 280px
	@media screen and (min-width: 1050px)
		margin: 0 auto
	.footer__info-content
		padding: 0

.social-buttons
	margin: 35px auto 0
	display: flex
	width: 115px
	font-size: 22px
	text-align: center
	justify-content: space-between

	.fa-stack:hover .fa:not(.fa-inverse)
		color: $color-light-100

	.fa
		color: $color-light-500
	.fa-inverse
		color: $color-dark

.copyright,
.developer
	margin: 30px auto 5px
	text-align: center

.copyright__text
	color: $color-light-500

.developer
	opacity: .2
	&__link
		color: $default-color-light
		text-decoration: underline
		letter-spacing: 1px
		&:hover
			color: $default-color-light
			text-decoration: none

.swiper-button-next:before
	content: "\f105" !important
	color: $default-color-light !important
.swiper-button-prev:before
	content: "\f104" !important
	color: $default-color-light !important

.button-up
	position: fixed
	left: 50px
	bottom: 50px
	width: 48px
	height: 48px
	text-align: center
	background: $color-brown
	border-radius: 50%
	opacity: .3
	cursor: pointer
	transition: opacity .2s ease-out
	&:hover
		opacity: .7
	.fa
		font-size: 24px
		line-height: 48px
		text-align: center
		color: #fff

.top-line__button
	flex: none
	height: 40px
	text-align: center
	color: $default-color-light
	background: $default-color-dark
	border: none
	cursor: pointer
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	&:hover
		text-decoration: none
		color: $default-color-light

	&.is-cart
		font-size: 24px

	@media screen and (min-width: 768px)
		display: none

.u-hidden
	display: none !important

.visuallyhidden
	position: absolute

	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0

	clip: rect(0 0 0 0)
	overflow: hidden

.option__items
	display: flex
	flex-direction: column

.option__item
	display: flex

	min-height: 60px

	border: 1px solid $default-color-light
	background-color: $default-color-light

	opacity: .7
	cursor: pointer
	transition: opacity .15s ease, border .15s ease

	&:hover
		opacity: 1

.option__item-checker:nth-child(1):checked ~ .product__option-content .option__item:nth-child(1),
.option__item-checker:nth-child(2):checked ~ .product__option-content .option__item:nth-child(2)
	border: 1px solid $color-brown
	opacity: 1

.option__item-checker:nth-child(1):checked ~ .option__footer .option__footer-item:nth-child(1),
.option__item-checker:nth-child(2):checked ~ .option__footer .option__footer-item:nth-child(2)
	display: block

.option__footer-item
	display: none

.option__image-wrapper
	width: 60px

.option__content
	padding: 5px

.option__title
	font-size: 18px
	font-weight: normal

@import "media"
