{{ header }}
<main class="main">
<div id="checkout-cart" class="container">

  <div class="row">{{ column_left }}

    <div id="content" class="cart-page__content">{{ content_top }}


      <div class="cart-page__cart-container">

        <a class="link-to-main-page" onclick="javascript:history.back(); return false;" title="назад"><i class="fa fa-times" aria-hidden="true"></i></a>
        <h2 class="title is-2 u-cart-container">Корзина</h2>

        <div class="cart-page__cart-image">
          <img src="/image/picnicbasket.png" alt="корзинка для пикника">  
        </div>

        <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <section class="checkout__column">

                <div class="checkout-order__items" id="js-add-cart-field">

                    {% for product in products %}

						<div class="checkout-order__item">
							<div class="checkout-order__item-thumb">
							{% if product.thumb %}
								<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"></a>
							{% endif %}
							</div>
							<div class="checkout-order__item-info">
								<a class="checkout-order__item-name" href="{{ product.href }}">
									{{ product.name }} 
									{% if product.option %}
										{% for option in product.option %}
										<small>({{ option.value }})</small> {% endfor %}
									{% endif %}</a>
								<div class="checkout-order__item-price">{{ product.price }}</div>
							</div>

							
							<div class="checkout-order__item-quantity">
								<div class="cart-buttons__quantity-wrapper">

									<div class="cart-buttons__quantity-button js-decrement">
									<i class="fa fa-minus" aria-hidden="true"></i>
									</div>

									<input type="text" maxlength="2"
										class = "js-cart-input"
										id = "js-input-cart-id{{ product.cart_id }}"
										value = "{{ product.quantity }}"

										data-cart-id    = "{{ product.cart_id }}"
										data-product-id = "{{ product.product_id }}"
										data-price      = "{{ product.price + 0 }}"

										{% if product.option %}
											{% for option in product.option %}

												data-option-id = "{{ option.product_option_id }}"
												data-option-value-id = "{{ option.product_option_value_id }}"

											{% endfor %}
										{% endif %}

										 disabled />

									<div class="cart-buttons__quantity-button js-increment">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</div>

								</div>
							</div>
						</div>

					{% endfor %}
					  
              	</div>

		    </section>
		  
        </form>

      </div>

      <div class="cart-page__bill-container">
        <div class="cart-page__bill-content" id="js-bill">
          <h2 class="title is-3 u-cart-container">Оформить заказ</h2>
          <div class="cart-page__bill">
            {% for product in products %}
            <div class="cart-page__bill-row">
              <div class="cart-page__bill-title">{{ product.name }}</div>
              <div class="cart-page__bill-quantity" id="js-bill-quantity-{{ product.cart_id }}">{{ product.quantity }} шт.</div>
              <div class="cart-page__bill-price" id="js-bill-price-{{ product.cart_id }}">{{ product.total }}</div>
            </div>
            {% endfor %}
          </div>
            <div class="cart-page__bill-total-price">Стоимость заказа: <span id="js-bill-total-price">{{ totals[0].text }}</span></div>
          <div class="checkout-order__buttons">
            <a {% if (totals[0].text + 0) > 599 %}href="{{ checkout }}"{% endif %} data-href='{{ checkout }}' class="checkout-order__button" id="js-checkout-button" 
              {% if (totals[0].text + 0) < 600 %}
                disabled>Минимальный заказ 600 руб.
              {% else %}
                >Оформить заказ
              {% endif %}</a>
          </div>
        </div>
      </div>

      
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</main>

<script>
	var elementAddCartField = document.getElementById('js-add-cart-field');

	if (elementAddCartField !== null) {
		elementAddCartField.addEventListener('click', handleClickAddCartField)
	}

	function handleClickAddCartField(event) {
		var target = event.target;
		
		while (target.id !== elementAddCartField.id) {

			if (target.classList.contains('js-increment')) {
				var elementData = target.parentNode.querySelector('.js-cart-input');
				var elementValue = Number(elementData.value);

				if (elementValue < 99) {

					var productId = elementData.getAttribute('data-product-id');
					var cartId = elementData.getAttribute('data-cart-id');
					var price = Number(elementData.getAttribute('data-price'));

					if (elementData.hasAttribute('data-option-id')) {

						var optionId = elementData.getAttribute('data-option-id');
						var optionValueId = elementData.getAttribute('data-option-value-id');

						cart.add(productId, optionId, optionValueId);

					} else {

						cart.add(productId);

					}

					elementData.value++;

					topBasket.add(price);

					billReload(cartId, 1);
				}


				break;

			} else if (target.classList.contains('js-decrement')) {

				var elementData = target.parentNode.querySelector('.js-cart-input');
				var elementValue = Number(elementData.value);

				if (elementValue > 0) {
					
					var cartId = elementData.getAttribute('data-cart-id');
					var price = Number(elementData.getAttribute('data-price'));

					elementData.value--;
					decrement(cartId, elementData.value);

					topBasket.remove(Number(elementData.getAttribute('data-price')));

					billReload(cartId, -1);
				}

				break;
			}

			target = target.parentNode;
		}
	}
</script>
{{ footer }} 