{{ header }}
<main class="main">
<div id="checkout-checkout" class="container">

  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      <h1 class="title is-2">{{ heading_title }}</h1>   

      <div class="panel-group" id="accordion" hidden>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_option }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-option">
            <div class="panel-body">
                <input type="radio" name="account" value="guest" checked="checked">
                <input type="button" value="Продолжить" id="button-account" data-loading-text="Загрузка...">
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
            
            <div class="panel-heading">
                {% if not logged and account != 'guest' %}
                    <h4 class="panel-title">{{ text_checkout_account }}</h4>
                {% else %}
                    <h4 class="panel-title">{{ text_checkout_payment_address }}</h4>
                {% endif %}
            </div>

            <div class="panel-collapse collapse" id="collapse-payment-address">
                <div class="panel-body">
                              
                    <input type="radio" name="customer_group_id" value="1" checked="checked" />
                    <input type="text" name="firstname" value="" placeholder="Имя" id="input-payment-firstname" class="form-control">
                    <input type="text" name="lastname" value="o" placeholder="Фамилия" id="input-payment-lastname" class="form-control">
                    <input type="text" name="email" value="mail@mail.ru" placeholder="E-Mail" id="input-payment-email" class="form-control">
                    <input type="text" name="telephone" value="" placeholder="Телефон" id="input-payment-telephone" class="form-control">

                    <input type="text" name="company" value="" placeholder="Компания" id="input-payment-company" class="form-control" />
                    <input type="text" name="address_1" value="" placeholder="Адрес" id="input-payment-address-1" class="form-control" />
                    <input type="text" name="address_2" value="" placeholder="Адрес 2" id="input-payment-address-2" class="form-control" />
                    <input type="text" name="city" value="Томск" placeholder="Город" id="input-payment-city" class="form-control" />
                    <input type="text" name="postcode" value="" placeholder="Индекс" id="input-payment-postcode" class="form-control" />
                    
                    <select name="country_id" id="input-payment-country" class="form-control">
                        <option value="176" selected="selected">Russian Federation</option>
                    </select>

                    <select name="zone_id" id="input-payment-zone" class="form-control">
                        <option value="2789" selected="selected">Tomsk</option>
                    </select>

                    <input type="checkbox" name="shipping_address" value="1" checked="checked">
                    <input type="button" value="Продолжить" id="button-guest" data-loading-text="Загрузка..." class="btn btn-primary" />
                
                </div>
            </div>
            
        </div>
             
        {% if shipping_required %}
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_shipping_address }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-shipping-address">
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_shipping_method }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-shipping-method">
            <div class="panel-body"></div>
          </div>
        </div>
        {% endif %}
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_payment_method }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-payment-method">
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_confirm }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-confirm">
            <div class="panel-body"></div>
          </div>
        </div>
      </div>

      <a class="link-to-main-page" onclick="javascript:history.back(); return false;" title="назад"><i class="fa fa-times" aria-hidden="true"></i></a>

    <div class="checkout" id="checkout">
        <div class="checkout__container u-left">
            <div class="checkout__column u-inputs-field">
                <div class="inner">

                    <h3 class="title is-3">Контактная информация</h3>
                    <p class="subtitle">* обязательно к заполнению</p>

                    <div class="input-field bg-white">
                        <label for="firstname">
                            <div class="label-text">Имя*</div>
                            <input type="text" name="firstname" id="firstname" maxlength="30">
                        </label>
                    </div>

                    <div class="input-field bg-white">
                        <label for="telephone">
                            <div class="label-text">Телефон*</div>
                            <input type="text" name="telephone" id="telephone" maxlength="30">
                        </label>
                    </div>

                    <div class="input-field bg-white">
                        <label for="datetime">
                            <div class="label-text">Дата и время доставки*</div>
                            <input type="text" name="datetime" id="datetime" placeholder="дд.мм.гггг --:--">
                        </label>
                    </div>

                    <div class="input-field bg-white">
                        <label for="comment">
                            <div class="label-text">Комментарий к заказу</div>
                            <textarea type="text" name="comment" id="comment"></textarea>
                        </label>
                    </div>

                </div>
            </div>

            <div class="checkout__column u-inputs-field">
                <div class="inner">

                    <h3 class="title is-3 mobile-hide">Доставка курьером</h3>

                    <div class="input-field bg-white">
                        <label for="address_1">
                            <div class="label-text">Улица*</div>
                            <input type="text" name="address_1" id="address_1" maxlength="50">
                        </label>
                    </div>

                    <div class="input-field__row">

                        <div class="input-field bg-white">
                            <label for="home">
                                <div class="label-text">Дом*</div>
                                <input type="text" name="home" id="home" maxlength="10">
                            </label>
                        </div>

                        <div class="input-field bg-white">
                            <label for="entrance">
                                <div class="label-text">Подъезд</div>
                                <input type="text" name="entrance" id="entrance" maxlength="2">
                            </label>
                        </div>

                    </div>
                    
                    <div class="input-field__row">

                        <div class="input-field bg-white">
                            <label for="floor">
                                <div class="label-text">Этаж</div>
                                <input type="text" name="floor" id="floor" maxlength="2">
                            </label>
                        </div>

                        <div class="input-field bg-white">
                            <label for="flat">
                                <div class="label-text">Квартира</div>
                                <input type="text" name="flat" id="flat" maxlength="4">
                            </label>
                        </div>

                    </div>

                    <div class="input-field bg-white">
                        <label for="intercom">
                            <div class="label-text">Домофон</div>
                            <input type="text" name="intercom" id="intercom" maxlength="10">
                        </label>
                    </div>

                    <h3 class="title is-3" style="margin-bottom: 5px">Способ оплаты</h3>
                    <div class="input-field u-nonbd" id="pay-m">
                        <input class="pay-m" type="radio" value="Наличные" name="pay-m" id="pay-cash" checked>
                        <input class="pay-m" type="radio" value="Банковская карта" name="pay-m" id="pay-non-cash">
                        <div class="checkout-labels">
                            <div class="checkout-label">
                                <label for="pay-cash">Наличные</label>
                            </div>
                            <div class="checkout-label">
                                <label for="pay-non-cash">Банковская карта</label>
                            </div>
                        </div>
                    </div>

                    <div class="input-field">
                        <input class="checkout__button" type="button" value="Отправить" id="send-form">
                    </div>

                    <p class="subtitle is-hidden" id="js-alert-message" style="max-width:260px">Не все обязательные поля заполнены<br>Имя, Адрес и Телефон должны содержать не менее трёх символов</p>
                </div>
            </div>
        </div>

        <section class="checkout__column u-bill">
            <div class="cart-page__bill-container">
                <div class="cart-page__bill-content">
                    <h2 class="title is-3 u-cart-container">Ваш заказ</h2>
                    <div class="cart-page__bill">
                        {% for product in products %}
                            <div class="cart-page__bill-row">
                                <div class="cart-page__bill-title">{{ product.name }}</div>
                                <div class="cart-page__bill-quantity">{{ product.quantity }} шт.</div>
                                <div class="cart-page__bill-price">{{ product.total }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="cart-page__bill-total-price">Стоимость заказа: {{ totals[0].text }}</div>
                </div>
              </div>
        </section>
        
    </div>



      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<div id="js-modal" class="piroga-modal">
    <div class="piroga-modal__backdrop js-close-modal"></div>
    <div class="piroga-modal__content">
        <div class="-success-content">
            <h2 class="piroga-modal__title">Пожалуйста, дождитесь завершения заказа:</h2>
            <p class="piroga-modal__subtitle">идёт отправка данных в магазин...</p>
            <div class="piroga-modal__loader">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div class="-error-content">
            <h2 class="piroga-modal__title">Не могу отправить данные</h2>
            <div class="piroga-modal__subtitle">Извините, не все обязательные поля заполнены. Пожалуйста, проверьте и попробуйте ещё раз</div>
            <button class="piroga-modal__close-text js-close-modal">Назад</button>
        </div>
    </div>
</div>
</main>

<script src="catalog/view/javascript/cleave/cleave.min.js"></script>
<script src="catalog/view/javascript/cleave/addons/cleave-phone.ru.js"></script>
<script src="catalog/view/javascript/checkout.js"></script>
{{ footer }}